{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-08",
    "endpointPrefix":"overbridge",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Overbridge",
    "serviceId":"Overbridge",
    "signatureVersion":"v4",
    "signingName":"overbridgebeta",
    "uid":"overbridge-2018-05-08"
  },
  "operations":{
    "CreateInsight":{
      "name":"CreateInsight",
      "http":{
        "method":"POST",
        "requestUri":"/insights"
      },
      "input":{"shape":"CreateInsightRequest"},
      "output":{"shape":"CreateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "DeleteInsight":{
      "name":"DeleteInsight",
      "http":{
        "method":"DELETE",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"DeleteInsightRequest"},
      "output":{"shape":"DeleteInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "GetFindings":{
      "name":"GetFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings"
      },
      "input":{"shape":"GetFindingsRequest"},
      "output":{"shape":"GetFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetFindingsStatistics":{
      "name":"GetFindingsStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/findings/statistics"
      },
      "input":{"shape":"GetFindingsStatisticsRequest"},
      "output":{"shape":"GetFindingsStatisticsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "GetInsightResults":{
      "name":"GetInsightResults",
      "http":{
        "method":"GET",
        "requestUri":"/insights/results/{InsightArn+}"
      },
      "input":{"shape":"GetInsightResultsRequest"},
      "output":{"shape":"GetInsightResultsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "GetInsights":{
      "name":"GetInsights",
      "http":{
        "method":"POST",
        "requestUri":"/insights/get"
      },
      "input":{"shape":"GetInsightsRequest"},
      "output":{"shape":"GetInsightsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "ImportFindings":{
      "name":"ImportFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings/import"
      },
      "input":{"shape":"ImportFindingsRequest"},
      "output":{"shape":"ImportFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ]
    },
    "UpdateFindings":{
      "name":"UpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings"
      },
      "input":{"shape":"UpdateFindingsRequest"},
      "output":{"shape":"UpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "UpdateInsight":{
      "name":"UpdateInsight",
      "http":{
        "method":"PATCH",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"UpdateInsightRequest"},
      "output":{"shape":"UpdateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ]
    }
  },
  "shapes":{
    "AffAggregationDefinition":{
      "type":"structure",
      "members":{
        "AggregationField":{"shape":"AffAggregationField"},
        "Filters":{"shape":"AffFilters"}
      }
    },
    "AffAggregationDefinitionList":{
      "type":"list",
      "member":{"shape":"AffAggregationDefinition"}
    },
    "AffAggregationField":{"type":"string"},
    "AffAggregationResult":{
      "type":"structure",
      "members":{
        "AggregationField":{"shape":"AffAggregationField"},
        "AggregationValues":{"shape":"FindingAggregationValueList"}
      }
    },
    "AffAggregationResultList":{
      "type":"list",
      "member":{"shape":"AffAggregationResult"}
    },
    "AffFieldMap":{
      "type":"map",
      "key":{"shape":"NonEmptyString"},
      "value":{"shape":"NonEmptyString"}
    },
    "AffFilters":{
      "type":"structure",
      "members":{
        "ProductArn":{"shape":"StringFilterList"},
        "AwsAccountId":{"shape":"StringFilterList"},
        "Id":{"shape":"StringFilterList"},
        "GeneratorId":{"shape":"StringFilterList"},
        "Type":{"shape":"StringFilterList"},
        "FirstObservedAt":{"shape":"DateFilterList"},
        "LastObservedAt":{"shape":"DateFilterList"},
        "CreatedAt":{"shape":"DateFilterList"},
        "UpdatedAt":{"shape":"DateFilterList"},
        "SeverityProduct":{"shape":"NumberFilterList"},
        "SeverityNormalized":{"shape":"NumberFilterList"},
        "Confidence":{"shape":"NumberFilterList"},
        "Criticality":{"shape":"NumberFilterList"},
        "Title":{"shape":"StringFilterList"},
        "Description":{"shape":"StringFilterList"},
        "RecommendationText":{"shape":"StringFilterList"},
        "RecommendationUrl":{"shape":"StringFilterList"},
        "SourceUrl":{"shape":"StringFilterList"},
        "ProductFields":{"shape":"MapFilterList"},
        "UserDefinedFields":{"shape":"MapFilterList"},
        "MalwareName":{"shape":"StringFilterList"},
        "MalwareType":{"shape":"StringFilterList"},
        "MalwarePath":{"shape":"StringFilterList"},
        "MalwareState":{"shape":"StringFilterList"},
        "NetworkDirection":{"shape":"StringFilterList"},
        "NetworkProtocol":{"shape":"StringFilterList"},
        "NetworkSourceIpV4":{"shape":"IpFilterList"},
        "NetworkSourceIpV6":{"shape":"IpFilterList"},
        "NetworkSourcePort":{"shape":"NumberFilterList"},
        "NetworkSourceDomain":{"shape":"StringFilterList"},
        "NetworkSourceMac":{"shape":"StringFilterList"},
        "NetworkDestinationIpV4":{"shape":"IpFilterList"},
        "NetworkDestinationIpV6":{"shape":"IpFilterList"},
        "NetworkDestinationPort":{"shape":"NumberFilterList"},
        "NetworkDestinationDomain":{"shape":"StringFilterList"},
        "ProcessName":{"shape":"StringFilterList"},
        "ProcessPath":{"shape":"StringFilterList"},
        "ProcessPid":{"shape":"NumberFilter"},
        "ProcessParentPid":{"shape":"NumberFilter"},
        "ProcessLaunchedAt":{"shape":"DateFilterList"},
        "ProcessTerminatedAt":{"shape":"DateFilterList"},
        "ThreatIntelIndicatorType":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorValue":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorCategory":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorLastObservedAt":{"shape":"DateFilterList"},
        "ThreatIntelIndicatorSource":{"shape":"StringFilterList"},
        "ThreatIntelIndicatorSourceUrl":{"shape":"StringFilterList"},
        "ResourceType":{"shape":"StringFilterList"},
        "ResourceId":{"shape":"StringFilterList"},
        "ResourcePartition":{"shape":"StringFilterList"},
        "ResourceRegion":{"shape":"StringFilterList"},
        "ResourceTags":{"shape":"MapFilterList"},
        "ResourceAwsEc2InstanceType":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceImageId":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceIpV4Addresses":{"shape":"IpFilterList"},
        "ResourceAwsEc2InstanceIpV6Addresses":{"shape":"IpFilterList"},
        "ResourceAwsEc2InstanceKeyName":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceIamInstanceProfileArn":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceVpcId":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceSubnetId":{"shape":"StringFilterList"},
        "ResourceAwsEc2InstanceLaunchedAt":{"shape":"DateFilterList"},
        "ResourceAwsS3BucketOwnerId":{"shape":"StringFilterList"},
        "ResourceAwsS3BucketOwnerName":{"shape":"StringFilterList"},
        "ResourceAwsIamAccessKeyUserName":{"shape":"StringFilterList"},
        "ResourceAwsIamAccessKeyStatus":{"shape":"StringFilterList"},
        "ResourceAwsIamAccessKeyCreatedAt":{"shape":"DateFilterList"},
        "ResourceContainerName":{"shape":"StringFilterList"},
        "ResourceContainerImageId":{"shape":"StringFilterList"},
        "ResourceContainerImageName":{"shape":"StringFilterList"},
        "ResourceContainerLaunchedAt":{"shape":"DateFilterList"},
        "ResourceDetailsOther":{"shape":"MapFilterList"},
        "ComplianceStatus":{"shape":"StringFilterList"},
        "VerificationState":{"shape":"StringFilterList"},
        "WorkflowState":{"shape":"StringFilterList"},
        "RecordState":{"shape":"StringFilterList"},
        "RelatedFindingProductArn":{"shape":"StringFilterList"},
        "RelatedFindingId":{"shape":"StringFilterList"},
        "NoteText":{"shape":"StringFilterList"},
        "NoteUpdatedAt":{"shape":"DateFilterList"},
        "NoteUpdatedBy":{"shape":"StringFilterList"},
        "Keyword":{"shape":"KeywordFilterList"}
      }
    },
    "AffSort":{
      "type":"structure",
      "members":{
        "Field":{"shape":"AffSortField"},
        "SortOrder":{"shape":"SortOrder"}
      }
    },
    "AffSortField":{
      "type":"string",
      "enum":[
        "AwsAccountId",
        "UpdatedAt",
        "Resource.Type"
      ]
    },
    "AffSortList":{
      "type":"list",
      "member":{"shape":"AffSort"}
    },
    "AmazonFinding":{
      "type":"structure",
      "required":[
        "SchemaVersion",
        "Id",
        "ProductArn",
        "GeneratorId",
        "AwsAccountId",
        "ExternalId",
        "Types",
        "CreatedAt",
        "UpdatedAt",
        "Severity",
        "Resources"
      ],
      "members":{
        "SchemaVersion":{"shape":"NonEmptyString"},
        "Id":{"shape":"NonEmptyString"},
        "ProductArn":{"shape":"NonEmptyString"},
        "GeneratorId":{"shape":"NonEmptyString"},
        "AwsAccountId":{"shape":"NonEmptyString"},
        "ExternalId":{"shape":"NonEmptyString"},
        "Types":{"shape":"TypeList"},
        "FirstObservedAt":{"shape":"NonEmptyString"},
        "LastObservedAt":{"shape":"NonEmptyString"},
        "CreatedAt":{"shape":"NonEmptyString"},
        "UpdatedAt":{"shape":"NonEmptyString"},
        "Severity":{"shape":"FindingSeverity"},
        "Confidence":{"shape":"Integer"},
        "Criticality":{"shape":"Integer"},
        "Title":{"shape":"NonEmptyString"},
        "Description":{"shape":"NonEmptyString"},
        "Remediation":{"shape":"Remediation"},
        "SourceUrl":{"shape":"NonEmptyString"},
        "ProductFields":{"shape":"AffFieldMap"},
        "UserDefinedFields":{"shape":"AffFieldMap"},
        "Malware":{"shape":"MalwareList"},
        "Network":{"shape":"Network"},
        "Process":{"shape":"ProcessDetails"},
        "ThreatIntelIndicators":{"shape":"ThreatIntelIndicatorList"},
        "Resources":{"shape":"ResourceList"},
        "Compliance":{"shape":"Compliance"},
        "VerificationState":{"shape":"VerificationState"},
        "WorkflowState":{"shape":"WorkflowState"},
        "RecordState":{"shape":"RecordState"},
        "RelatedFindings":{"shape":"RelatedFindingList"},
        "Note":{"shape":"Note"}
      }
    },
    "AmazonFindingList":{
      "type":"list",
      "member":{"shape":"AmazonFinding"}
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "AwsEc2InstanceDetails":{
      "type":"structure",
      "members":{
        "Type":{"shape":"NonEmptyString"},
        "ImageId":{"shape":"NonEmptyString"},
        "IpV4Addresses":{"shape":"StringList"},
        "IpV6Addresses":{"shape":"StringList"},
        "KeyName":{"shape":"NonEmptyString"},
        "IamInstanceProfileArn":{"shape":"NonEmptyString"},
        "VpcId":{"shape":"NonEmptyString"},
        "SubnetId":{"shape":"NonEmptyString"},
        "LaunchedAt":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamAccessKeyDetails":{
      "type":"structure",
      "members":{
        "UserName":{"shape":"NonEmptyString"},
        "Status":{"shape":"AwsIamAccessKeyStatus"},
        "CreatedAt":{"shape":"NonEmptyString"}
      }
    },
    "AwsIamAccessKeyStatus":{
      "type":"string",
      "enum":[
        "Active",
        "Inactive"
      ]
    },
    "AwsS3BucketDetails":{
      "type":"structure",
      "members":{
        "OwnerId":{"shape":"NonEmptyString"},
        "OwnerName":{"shape":"NonEmptyString"}
      }
    },
    "Compliance":{
      "type":"structure",
      "members":{
        "Status":{"shape":"ComplianceStatus"}
      }
    },
    "ComplianceStatus":{
      "type":"string",
      "enum":[
        "PASSED",
        "WARNING",
        "FAILED",
        "NOT_AVAILABLE"
      ]
    },
    "ContainerDetails":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "ImageId":{"shape":"NonEmptyString"},
        "ImageName":{"shape":"NonEmptyString"},
        "LaunchedAt":{"shape":"NonEmptyString"}
      }
    },
    "CreateInsightRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Filters",
        "ResultField"
      ],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Filters":{"shape":"AffFilters"},
        "ResultField":{"shape":"AffAggregationField"}
      }
    },
    "CreateInsightResponse":{
      "type":"structure",
      "required":["InsightArn"],
      "members":{
        "InsightArn":{"shape":"NonEmptyString"}
      }
    },
    "DateFilter":{
      "type":"structure",
      "members":{
        "Before":{"shape":"NonEmptyString"},
        "After":{"shape":"NonEmptyString"},
        "DateRange":{"shape":"DateRange"}
      }
    },
    "DateFilterList":{
      "type":"list",
      "member":{"shape":"DateFilter"}
    },
    "DateRange":{
      "type":"structure",
      "members":{
        "Value":{"shape":"Integer"},
        "Unit":{"shape":"DateRangeUnit"}
      }
    },
    "DateRangeUnit":{
      "type":"string",
      "enum":["DAYS"]
    },
    "DeleteInsightRequest":{
      "type":"structure",
      "required":["InsightArn"],
      "members":{
        "InsightArn":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"InsightArn"
        }
      }
    },
    "DeleteInsightResponse":{
      "type":"structure",
      "required":["InsightArn"],
      "members":{
        "InsightArn":{"shape":"NonEmptyString"}
      }
    },
    "Double":{"type":"double"},
    "FindingAggregationValue":{
      "type":"structure",
      "required":[
        "Bucket",
        "Count"
      ],
      "members":{
        "Bucket":{"shape":"NonEmptyString"},
        "Count":{"shape":"Integer"}
      }
    },
    "FindingAggregationValueList":{
      "type":"list",
      "member":{"shape":"FindingAggregationValue"}
    },
    "FindingSeverity":{
      "type":"structure",
      "required":[
        "Product",
        "Normalized"
      ],
      "members":{
        "Product":{"shape":"Double"},
        "Normalized":{"shape":"Integer"}
      }
    },
    "GetFindingsRequest":{
      "type":"structure",
      "members":{
        "Filters":{"shape":"AffFilters"},
        "Sorters":{"shape":"AffSortList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "GetFindingsResponse":{
      "type":"structure",
      "required":["Findings"],
      "members":{
        "Findings":{"shape":"AmazonFindingList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "GetFindingsStatisticsRequest":{
      "type":"structure",
      "members":{
        "Aggregations":{"shape":"AffAggregationDefinitionList"}
      }
    },
    "GetFindingsStatisticsResponse":{
      "type":"structure",
      "required":["Aggregations"],
      "members":{
        "Aggregations":{"shape":"AffAggregationResultList"}
      }
    },
    "GetInsightResultsRequest":{
      "type":"structure",
      "required":["InsightArn"],
      "members":{
        "InsightArn":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"InsightArn"
        }
      }
    },
    "GetInsightResultsResponse":{
      "type":"structure",
      "required":["InsightResults"],
      "members":{
        "InsightResults":{"shape":"InsightResults"}
      }
    },
    "GetInsightsRequest":{
      "type":"structure",
      "members":{
        "InsightArns":{"shape":"ArnList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      }
    },
    "GetInsightsResponse":{
      "type":"structure",
      "required":["Insights"],
      "members":{
        "Insights":{"shape":"InsightList"},
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ImportFindingsError":{
      "type":"structure",
      "required":[
        "Id",
        "ErrorCode",
        "ErrorMessage"
      ],
      "members":{
        "Id":{"shape":"NonEmptyString"},
        "ErrorCode":{"shape":"NonEmptyString"},
        "ErrorMessage":{"shape":"NonEmptyString"}
      }
    },
    "ImportFindingsErrorList":{
      "type":"list",
      "member":{"shape":"ImportFindingsError"}
    },
    "ImportFindingsRequest":{
      "type":"structure",
      "required":["Findings"],
      "members":{
        "Findings":{"shape":"AmazonFindingList"}
      }
    },
    "ImportFindingsResponse":{
      "type":"structure",
      "required":[
        "FailedCount",
        "SuccessCount"
      ],
      "members":{
        "FailedCount":{"shape":"Integer"},
        "SuccessCount":{"shape":"Integer"},
        "Findings":{"shape":"ImportFindingsErrorList"}
      }
    },
    "Insight":{
      "type":"structure",
      "required":[
        "InsightArn",
        "Name",
        "Filters",
        "ResultField"
      ],
      "members":{
        "InsightArn":{"shape":"NonEmptyString"},
        "Name":{"shape":"NonEmptyString"},
        "Filters":{"shape":"AffFilters"},
        "ResultField":{"shape":"AffAggregationField"}
      }
    },
    "InsightList":{
      "type":"list",
      "member":{"shape":"Insight"}
    },
    "InsightResultValue":{
      "type":"structure",
      "required":[
        "Bucket",
        "Count"
      ],
      "members":{
        "Bucket":{"shape":"NonEmptyString"},
        "Count":{"shape":"Integer"}
      }
    },
    "InsightResultValueList":{
      "type":"list",
      "member":{"shape":"InsightResultValue"}
    },
    "InsightResults":{
      "type":"structure",
      "required":[
        "InsightArn",
        "ResultField",
        "ResultValues"
      ],
      "members":{
        "InsightArn":{"shape":"NonEmptyString"},
        "ResultField":{"shape":"AffAggregationField"},
        "ResultValues":{"shape":"InsightResultValueList"}
      }
    },
    "Integer":{"type":"integer"},
    "InternalException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "error":{"httpStatusCode":500},
      "exception":true
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "IpFilter":{
      "type":"structure",
      "members":{
        "Cidr":{"shape":"NonEmptyString"}
      }
    },
    "IpFilterList":{
      "type":"list",
      "member":{"shape":"IpFilter"}
    },
    "KeywordFilter":{
      "type":"structure",
      "members":{
        "Value":{"shape":"NonEmptyString"}
      }
    },
    "KeywordFilterList":{
      "type":"list",
      "member":{"shape":"KeywordFilter"}
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "Malware":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Type":{"shape":"MalwareType"},
        "Path":{"shape":"NonEmptyString"},
        "State":{"shape":"MalwareState"}
      }
    },
    "MalwareList":{
      "type":"list",
      "member":{"shape":"Malware"}
    },
    "MalwareState":{
      "type":"string",
      "enum":[
        "OBSERVED",
        "REMOVAL_FAILED",
        "REMOVED"
      ]
    },
    "MalwareType":{
      "type":"string",
      "enum":[
        "ADWARE",
        "BLENDED_THREAT",
        "BOTNET_AGENT",
        "COIN_MINER",
        "EXPLOIT_KIT",
        "KEYLOGGER",
        "MACRO",
        "POTENTIALLY_UNWANTED",
        "SPYWARE",
        "RANSOMWARE",
        "REMOTE_ACCESS",
        "ROOTKIT",
        "TROJAN",
        "VIRUS",
        "WORM"
      ]
    },
    "MapFilter":{
      "type":"structure",
      "members":{
        "Key":{"shape":"NonEmptyString"},
        "Value":{"shape":"NonEmptyString"},
        "Comparison":{"shape":"StringFilterComparison"}
      }
    },
    "MapFilterList":{
      "type":"list",
      "member":{"shape":"MapFilter"}
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "Network":{
      "type":"structure",
      "members":{
        "Direction":{"shape":"NetworkDirection"},
        "Protocol":{"shape":"NonEmptyString"},
        "SourceIpV4":{"shape":"NonEmptyString"},
        "SourceIpV6":{"shape":"NonEmptyString"},
        "SourcePort":{"shape":"Integer"},
        "SourceDomain":{"shape":"NonEmptyString"},
        "SourceMac":{"shape":"NonEmptyString"},
        "DestinationIpV4":{"shape":"NonEmptyString"},
        "DestinationIpV6":{"shape":"NonEmptyString"},
        "DestinationPort":{"shape":"Integer"},
        "DestinationDomain":{"shape":"NonEmptyString"}
      }
    },
    "NetworkDirection":{
      "type":"string",
      "enum":[
        "IN",
        "OUT"
      ]
    },
    "NextToken":{"type":"string"},
    "NonEmptyString":{
      "type":"string",
      "pattern":".*\\S.*"
    },
    "Note":{
      "type":"structure",
      "required":[
        "Text",
        "UpdatedBy",
        "UpdatedAt"
      ],
      "members":{
        "Text":{"shape":"NonEmptyString"},
        "UpdatedBy":{"shape":"NonEmptyString"},
        "UpdatedAt":{"shape":"NonEmptyString"}
      }
    },
    "NoteUpdate":{
      "type":"structure",
      "required":[
        "Text",
        "UpdatedBy"
      ],
      "members":{
        "Text":{"shape":"NonEmptyString"},
        "UpdatedBy":{"shape":"NonEmptyString"}
      }
    },
    "NumberFilter":{
      "type":"structure",
      "members":{
        "Gte":{"shape":"Double"},
        "Lte":{"shape":"Double"},
        "Gt":{"shape":"Double"},
        "Lt":{"shape":"Double"},
        "Eq":{"shape":"Double"}
      }
    },
    "NumberFilterList":{
      "type":"list",
      "member":{"shape":"NumberFilter"}
    },
    "Partition":{
      "type":"string",
      "enum":[
        "aws",
        "aws-cn",
        "aws-us-gov"
      ]
    },
    "ProcessDetails":{
      "type":"structure",
      "members":{
        "Name":{"shape":"NonEmptyString"},
        "Path":{"shape":"NonEmptyString"},
        "Pid":{"shape":"Integer"},
        "ParentPid":{"shape":"Integer"},
        "LaunchedAt":{"shape":"NonEmptyString"},
        "TerminatedAt":{"shape":"NonEmptyString"}
      }
    },
    "Recommendation":{
      "type":"structure",
      "members":{
        "Text":{"shape":"NonEmptyString"},
        "Url":{"shape":"NonEmptyString"}
      }
    },
    "RecordState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "ARCHIVED"
      ]
    },
    "RelatedFinding":{
      "type":"structure",
      "required":[
        "ProductArn",
        "Id"
      ],
      "members":{
        "ProductArn":{"shape":"NonEmptyString"},
        "Id":{"shape":"NonEmptyString"}
      }
    },
    "RelatedFindingList":{
      "type":"list",
      "member":{"shape":"RelatedFinding"}
    },
    "Remediation":{
      "type":"structure",
      "members":{
        "Recommendation":{"shape":"Recommendation"}
      }
    },
    "Resource":{
      "type":"structure",
      "required":[
        "Type",
        "Id"
      ],
      "members":{
        "Type":{"shape":"NonEmptyString"},
        "Id":{"shape":"NonEmptyString"},
        "Partition":{"shape":"Partition"},
        "Region":{"shape":"NonEmptyString"},
        "Tags":{"shape":"AffFieldMap"},
        "Details":{"shape":"ResourceDetails"}
      }
    },
    "ResourceDetails":{
      "type":"structure",
      "members":{
        "AwsEc2Instance":{"shape":"AwsEc2InstanceDetails"},
        "AwsS3Bucket":{"shape":"AwsS3BucketDetails"},
        "AwsIamAccessKey":{"shape":"AwsIamAccessKeyDetails"},
        "Container":{"shape":"ContainerDetails"},
        "Other":{"shape":"AffFieldMap"}
      }
    },
    "ResourceList":{
      "type":"list",
      "member":{"shape":"Resource"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "asc",
        "desc"
      ]
    },
    "StringFilter":{
      "type":"structure",
      "members":{
        "Value":{"shape":"NonEmptyString"},
        "Comparison":{"shape":"StringFilterComparison"}
      }
    },
    "StringFilterComparison":{
      "type":"string",
      "enum":[
        "EQUALS",
        "CONTAINS",
        "PREFIX"
      ]
    },
    "StringFilterList":{
      "type":"list",
      "member":{"shape":"StringFilter"}
    },
    "StringList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "ThreatIntelIndicator":{
      "type":"structure",
      "members":{
        "Type":{"shape":"ThreatIntelIndicatorType"},
        "Value":{"shape":"NonEmptyString"},
        "Category":{"shape":"ThreatIntelIndicatorCategory"},
        "LastObservedAt":{"shape":"NonEmptyString"},
        "Source":{"shape":"NonEmptyString"},
        "SourceUrl":{"shape":"NonEmptyString"}
      }
    },
    "ThreatIntelIndicatorCategory":{
      "type":"string",
      "enum":[
        "BACKDOOR",
        "CARD_STEALER",
        "COMMAND_AND_CONTROL",
        "DROP_SITE",
        "EXPLOIT_SITE",
        "KEYLOGGER"
      ]
    },
    "ThreatIntelIndicatorList":{
      "type":"list",
      "member":{"shape":"ThreatIntelIndicator"}
    },
    "ThreatIntelIndicatorType":{
      "type":"string",
      "enum":[
        "DOMAIN",
        "EMAIL_ADDRESS",
        "HASH_MD5",
        "HASH_SHA1",
        "HASH_SHA256",
        "HASH_SHA512",
        "IPV4_ADDRESS",
        "IPV6_ADDRESS",
        "MUTEX",
        "PROCESS",
        "URL"
      ]
    },
    "TypeList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "UpdateFindingsRequest":{
      "type":"structure",
      "required":["Filters"],
      "members":{
        "Filters":{"shape":"AffFilters"},
        "Note":{"shape":"NoteUpdate"},
        "RecordState":{"shape":"RecordState"}
      }
    },
    "UpdateFindingsResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateInsightRequest":{
      "type":"structure",
      "required":["InsightArn"],
      "members":{
        "InsightArn":{
          "shape":"NonEmptyString",
          "location":"uri",
          "locationName":"InsightArn"
        },
        "Name":{"shape":"NonEmptyString"},
        "Filters":{"shape":"AffFilters"},
        "ResultField":{"shape":"AffAggregationField"}
      }
    },
    "UpdateInsightResponse":{
      "type":"structure",
      "members":{
      }
    },
    "VerificationState":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "TRUE_POSITIVE",
        "FALSE_POSITIVE",
        "BENIGN_POSITIVE"
      ]
    },
    "WorkflowState":{
      "type":"string",
      "enum":[
        "NEW",
        "ASSIGNED",
        "IN_PROGRESS",
        "DEFERRED",
        "RESOLVED"
      ]
    }
  },
  "documentation":"sample documentation"
}
